// Colors
$dark-orange: #F4900C;
$orange: #FDB43A;
$light-orange: #FDCC5A;

$light-yellow: #FEFB9A;
$yellow: #FAED66;
$dark-yellow: #F5DF31;

$green: #CBFDCA;
$blue: #CACAFC;

$white: #fff;
$black: #000;

$box-shadow-default: 4px 8px 4px rgba(0, 0, 0, 0.5);